$white: #ffffff;
$blue: #1782dd;
$blue-hover: #2893ee;
$yellowgreen: #9acd32;
$red: #dc143c;
$separator: #cccccc;
$disable: #eeeeee;
$disable-hover: #dddddd;
$black-alpha: rgba(0,0,0,0.7);
$blue-green-gradient: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);

html {
    overflow: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
}

button {
    background-color: $blue;
    color: $white;
    border: 0px;
    cursor: pointer;
    transition: 0.5s all;
    padding: 10px;

    &:hover {
        background-color: $blue-hover;
    }
}

.checkbox {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-color: $white;
    border: 1px solid $separator;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 15px;
        width: 15px;
    }

    &.disable {
        background-color: $disable;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.progress-bar {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $black-alpha;
    top: 0px;
    left: 0px;

    .loader,
    .loader:after {
        border-radius: 50%;
        width: 10em;
        height: 10em;
    }

    .loader {
        margin: 60px auto;
        font-size: 10px;
        position: relative;
        text-indent: -9999em;
        border-top: 1.1em solid rgba(255, 255, 255, 0.1);
        border-right: 1.1em solid rgba(255, 255, 255, 0.1);
        border-bottom: 1.1em solid rgba(255, 255, 255, 0.1);
        border-left: 1.1em solid $blue;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: load8 1.1s infinite linear;
        animation: load8 1.1s infinite linear;
    }

    @-webkit-keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}

.logo {
    position: absolute;
    width: 200px;
    top: 30px;
    left: 50%;
    margin-left: -100px;
    text-align: center;
    color: $white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Acme', sans-serif;
    font-style: unset;

    img {
        margin-right: 10px;
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: $blue-green-gradient;
    padding-top: 60px;

    .box-tabs {
        border-radius: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: $white;

        .titles {
            display: flex;
            border-radius: 50px 50px 0px 0px;

            .title {
                width: 100%;
                padding: 20px;
                text-align: center;
                border-bottom: 1px solid $separator;
                background-color: $disable;
                transition: 0.5s all;
                cursor: pointer;
                font-weight: 100;

                &:first-child {
                    border-radius: 50px 0px 0px 0px;
                    border-right: 1px solid $separator;
                }

                &:last-child {
                    border-radius: 0px 50px 0px 0px;
                    border-left: 1px solid $separator;
                }

                &:hover {
                    background-color: $disable-hover;
                }
            }

            .active {
                background-color: $white!important;
                border-color: $white!important;
                cursor: default;
                font-weight: 900;
            }
        }

        .contents {
            padding: 40px;
            padding-top: 20px;
            padding-bottom: 10px;

            .content  {
                transition: 0.5s all;

                form {
                    display: flex;
                    flex-direction: column;

                    input, button {
                        width: 300px;
                        padding: 10px;
                        margin: 10px;
                        border: 1px solid $separator;
                    }

                    input {
                        background-color: $white;
                    }
                }
            }
        }
    }

    .box-content {
        border-radius: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: $white;
        width: 1200px;
        height: 800px;

        .titles {
            display: flex;
            border-radius: 50px 50px 0px 0px;

            .title {
                width: 100%;
                padding: 20px;
                text-align: center;
                border-bottom: 1px solid $separator;
                border-left: 1px solid $separator;
                border-right: 1px solid $separator;
                background-color: $disable;
                transition: 0.5s all;
                cursor: pointer;
                font-weight: 100;

                &:first-child {
                    border-radius: 50px 0px 0px 0px;
                    border-right: 1px solid $separator;
                }

                &:last-child {
                    border-radius: 0px 50px 0px 0px;
                    border-left: 1px solid $separator;
                }

                &:hover {
                    background-color: $disable-hover;
                }
            }

            .active {
                background-color: $white!important;
                border-color: $white!important;
                cursor: default;
                font-weight: 900;
            }
        }

        .content {
            display: flex;
            justify-content: space-between;
            
            .users-list {
                width: 380px;
                padding: 40px;

                .title {
                    text-align: center;
                    margin-bottom: 10px;
                }

                input {
                    border: 1px solid $separator;
                    padding: 10px;
                    margin-bottom: 20px;
                    display: block;
                    width: 100%;
                }

                .list {
                    outline: 1px solid $separator;
                    height: 554px;
                    overflow: auto;

                    .item {
                        padding: 20px;
                        transition: 0.5s all;
                        cursor: pointer;
                        position: relative;

                        &:hover {
                            background-color: $blue;
                            color: $white;
                        }

                        &:before {
                            content: '';
                            width: 0px;
                            height: 100%;
                            background-color: $white;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            border-top: 1px solid $separator;
                            border-bottom: 1px solid $separator;
                            transition: 0.5s all;
                        }
                    }

                    .active {
                        background-color: $blue;
                        color: $white;
                        display: block;
                        padding-left: 30px;

                        &:before {
                            width: 10px;
                        }

                        &:hover {
                            padding-left: 35px;

                            &:before {
                                width: 15px;
                            }
                        }
                    }
                }
            }

            .zone-data {
                width: 380px;
                padding: 40px;

                .title {
                    width: 100%;
                    text-align: center;
                }

                .zone {
                    display: flex;
                    height: 630px;
                    width: 300px;
                    padding-top: 10px;
                    flex-direction: column;

                    .zone-map {
                        position: absolute;
                        width: 300px;
                        height: 300px;
                        transition: 1s background-color;
                    }

                    .zone-zoom {
                        width: 100%!important;
                        height: 100%!important;
                        top: 0px;
                        left: 0px;
                        background-color: $black-alpha;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 1s background-color;

                        .points, img {
                            width: 600px!important;
                            height: 600px!important;
                        }
                    }

                    .zone-points.zone-zoom {
                        background-color: rgba($color: #ffffff, $alpha: 0.0);

                        span {
                            display: none;
                        }
                    }

                    .zone-points {
                        position: absolute;
                        transition: 1s background-color;

                        .points {
                            width: 300px;
                            height: 300px;
                            border: 1px solid $separator;
                            display: flex;
                            flex-wrap: wrap;

                            .point {
                                width: 12.5%;
                                height: 12.5%;
                                outline: 0px solid $separator;
                                position: relative;
                                transition: 0.25s all;
    
                                &:hover {
    
                                    &:before {
                                        outline: 5px solid $blue;
                                        transition: 0.25s all;
                                    }
                                }
    
                                &:before {
                                    content: "";
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    border: 0px solid $separator;
                                    top: 0%;
                                    left: 0%;
                                    transition: 0.25s all;
                                }
                            }
                        }

                        .active {
                            transition: 0.25s all;

                            &:hover {
    
                                &:before {
                                    outline: 5px solid $yellowgreen!important;
                                    transition: 0.25s all;
                                }
                            }

                            &:before {
                                outline: 3px solid $yellowgreen!important;
                                transition: 0.25s all;
                            }
                        }

                        &:hover {

                            span {
                                width: 50px;
                                height: 100%;
                                right: -50px;
                                
                                p {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }

                                img {
                                    display: block;
                                }
                            }
                        }

                        span {
                            position: absolute;
                            width: 0px;
                            height: 100%;
                            background-color: $white;
                            right: 0px;
                            top: 0px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            border-radius: 0px 0px 0px 0px;
                            border: 1px solid $separator;
                            transition: 0.5s all;

                            p {
                                display: none;
                                width: 100%;
                                writing-mode: vertical-rl;
                                text-orientation: upright;
                                color: $white;
                                margin-top: 10px;
                            }

                            img {
                                width: 50%;
                                display: none;
                            }
                        }
                    }

                    .point-data {
                        display: flex;
                        flex-direction: column;
                        padding-top: 20px;
                        margin-top: 310px;

                        .label {
                            margin-top: 5px;
                            margin-bottom: 20px;
                            display: flex;
                            align-items: center;

                            span {
                                
                            }

                            input {
                                padding: 10px;
                                border: 1px solid $separator;
                                width: 100%;
                                margin-left: 10px;

                                &[type="checkbox"] {
                                    display: none;
                                }

                                &:disabled {
                                    background-color: $disable;
                                }
                            }

                            button {
                                width: 100%;
                            }

                            &:last-child {
                                margin: 0px;
                            }
                        }
                    }
                }
            }

            .events-list {
                width: 380px;
                padding: 40px;

                .title {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 10px;
                }

                .list {
                    outline: 1px solid $separator;
                    height: 623px;
                    overflow: auto;

                    .item {
                        border-bottom: 1px solid $separator;
                        display: flex;
                        flex-direction: column;
                        padding-left: 20px;
                        padding-top: 10px;
                        padding-bottom: 10px;

                        p {
                            padding: 5px;
                            margin: 0px;
                            font-weight: 900;
                        }

                        .zone {
                            display: flex;

                            .zone-x, .zone-y, .zone-height {
                                display: flex;
                                margin-left: 10px;
                                
                                p {
                                    padding: 0px;
                                    margin: 0px;
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }
            }

            .user-data {
                width: 800px;
                padding: 40px;

                .title {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 10px;
                }

                .datepicker {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 20px;

                    input {
                        border: 1px solid $separator;
                        background-color: $white;
                        padding: 10px;
                        margin-left: 20px;
                    }
                }

                .list {
                    height: 550px;
                    overflow: auto;

                    table {
                        width: 100%;

                        tr {
                            border-bottom: 1px solid $separator;

                            th {
                                padding: 10px;
                            }

                            td {
                                padding: 10px;
                            }
                        }
                    }
                }
            }
        }

        .profile {
            display: flex;
            justify-content: space-around;

            .admin-data {
                width: 400px;
                height: 700px;
                padding: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                .email {
                    display: flex;

                    p {
                        margin-left: 20px;
                        font-weight: 900;
                    }
                }

                .login {
                    display: flex;

                    p {
                        margin-left: 20px;
                        font-weight: 900;
                    }
                }
            }

            .drons-list {
                width: 400px;
                height: 700px;
                padding: 40px;
                outline: 0px solid $separator;

                .title {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 10px;
                }

                .list {
                    width: 320px;
                    height: 550px;
                    outline: 1px solid $separator;

                    .item {
                        padding: 20px;
                        cursor: pointer;
                        transition: 0.5s all;

                        &:hover {
                            background-color: $blue;
                            color: $white;
                        }
                    }

                    .qrcode-window {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: $black-alpha;
                        top: 0px;
                        left: 0px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        #qrcode {
                            padding: 20px;
                            background-color: $white
                        }
                    }
                }

                button {
                    width: 100%;
                    margin-top: 20px;
                }

                .new-drone-modal {

                }
            }
        }
    }
}

.modal-window {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $black-alpha;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    .window {
        background-color: $white;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 50px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
            text-align: center;
            font-weight: 900;
        }

        .description {
            text-align: center;
            font-weight: 100;
            margin-bottom: 10px;
        }

        input {
            padding: 10px;
        }

        .buttons {
            display: flex;

            button {
                width: 150px!important;

                &:first-child {
                    margin-right: 20px;
                }
            }
        }
    }
}